# Project 3: Predicting new Airbnb users' first destinations
# Part 2: SQL and EDA

## Using SQL to perform some EDA

In [50]:
import pandas as pd
import matplotlib.pyplot as plt
from patsy import dmatrix
import datetime as dt
import numpy as np
import pickle

%matplotlib inline

from sqlalchemy import create_engine
cnx = create_engine('postgresql://emilygeller:p@54.173.47.58:5432/emilygeller')

In [2]:
pd.read_sql('select * from countries;', cnx)

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06
5,GB,54.633220,-3.432277,6883.6590,243610.0,eng,0.00
6,IT,41.873990,12.564167,8636.6310,301340.0,ita,89.40
7,NL,52.133057,5.295250,7524.3203,41543.0,nld,63.22
8,PT,39.553444,-7.839319,7355.2534,92090.0,por,95.45
9,US,36.966427,-95.844030,0.0000,9826675.0,eng,0.00

In [3]:
pd.read_sql('select * from sessions limit 5;', cnx)

,id,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,0,d1mm9tcy42,lookup,None,None,Windows Desktop,319.0
1,1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,2,d1mm9tcy42,lookup,None,None,Windows Desktop,301.0
3,3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,4,d1mm9tcy42,lookup,None,None,Windows Desktop,435.0

## Constructing features from Sessions data
I'll use SQL to build them.

###  Total seconds on site per user

In [4]:
q = '''
select user_id, sum(secs_elapsed)
from sessions
group by user_id
limit 5;
'''

In [5]:
pd.read_sql(q,cnx)

      user_id        sum
0  00023iyk9l   867896.0
1  0010k6l0om   586543.0
2  001wyh0pz8   282965.0
3  0028jgx1x1   297010.0
4  002qnbzfs5  6487080.0

### Total sessions per user

In [6]:
q = '''
select user_id, count(1)
from sessions
group by user_id
limit 5;'''

In [7]:
pd.read_sql(q,cnx)

      user_id  count
0  00023iyk9l     40
1  0010k6l0om     63
2  001wyh0pz8     90
3  0028jgx1x1     31
4  002qnbzfs5    789

In [51]:
q = '''
select user_id, count(1)
from sessions
group by user_id
;'''

In [52]:
total_sessions = pd.read_sql(q,cnx)

### Total seconds on site per user per device

In [10]:
q = '''
select device_type, count(user_id)
from sessions
group by device_type
order by count desc;'''

In [11]:
pd.read_sql(q,cnx)

                         device_type    count
0                        Mac Desktop  3585886
1                    Windows Desktop  2648521
2                             iPhone  2096749
3                      Android Phone   835991
4                        iPad Tablet   681836
5   Android App Unknown Phone/Tablet   272820
6                          -unknown-   210059
7                             Tablet   139859
8                      Linux Desktop    27968
9                         Chromebook    22272
10                         iPodtouch     8186
11                     Windows Phone     2047
12                        Blackberry      979
13                       Opera Phone       68

Let's only look at the total time per user for the top four devices: `Mac Desktop`, `Windows Desktop`, `iPhone`, `Android Phone`.

In [12]:
q = '''
select sessions.user_id, sessions2.total as Mac_Desktop, sessions3.total as iPhone, sessions4.total as Windows_Desktop, sessions5.total as Android_Phone
from sessions
full join (
    select user_id, device_type, sum(secs_elapsed) total
    from sessions
    where device_type = 'Mac Desktop'
    group by user_id, device_type
    limit 5) sessions2 on sessions.user_id = sessions2.user_id
full join (
    select user_id, device_type, sum(secs_elapsed) total
    from sessions 
    where device_type = 'iPhone'
    group by user_id, device_type
    limit 5) sessions3 on sessions2.user_id = sessions3.user_id
full join (
    select user_id, device_type, sum(secs_elapsed) total
    from sessions 
    where device_type = 'Windows Desktop'
    group by user_id, device_type
    limit 5) sessions4 on sessions3.user_id = sessions4.user_id
full join (
    select user_id, device_type, sum(secs_elapsed) total
    from sessions 
    where device_type = 'Android Phone'
    group by user_id, device_type
    limit 5) sessions5 on sessions4.user_id = sessions5.user_id    
;'''

In [13]:
pd.read_sql(q,cnx)

             user_id  mac_desktop     iphone  windows_desktop  android_phone
0         d1mm9tcy42          NaN        NaN              NaN            NaN
1         d1mm9tcy42          NaN        NaN              NaN            NaN
2         d1mm9tcy42          NaN        NaN              NaN            NaN
3         d1mm9tcy42          NaN        NaN              NaN            NaN
4         d1mm9tcy42          NaN        NaN              NaN            NaN
5         d1mm9tcy42          NaN        NaN              NaN            NaN
6         d1mm9tcy42          NaN        NaN              NaN            NaN
7         d1mm9tcy42          NaN        NaN              NaN            NaN
8         d1mm9tcy42          NaN        NaN              NaN            NaN
9         d1mm9tcy42          NaN        NaN              NaN            NaN
10        d1mm9tcy42          NaN        NaN              NaN            NaN
11        d1mm9tcy42          NaN        NaN              NaN            NaN
12        d1mm9tcy42          NaN        NaN              NaN            NaN
13        d1mm9tcy42          NaN        NaN              NaN            NaN
14        d1mm9tcy42          NaN        NaN              NaN            NaN
15        d1mm9tcy42          NaN        NaN              NaN            NaN
16        d1mm9tcy42          NaN        NaN              NaN            NaN
17        d1mm9tcy42          NaN        NaN              NaN            NaN
18        d1mm9tcy42          NaN        NaN              NaN            NaN
19        d1mm9tcy42          NaN        NaN              NaN            NaN
20        d1mm9tcy42          NaN        NaN              NaN            NaN
21        d1mm9tcy42          NaN        NaN              NaN            NaN
22        d1mm9tcy42          NaN        NaN              NaN            NaN
23        d1mm9tcy42          NaN        NaN              NaN            NaN
24        d1mm9tcy42          NaN        NaN              NaN            NaN
25        d1mm9tcy42          NaN        NaN              NaN            NaN
26        d1mm9tcy42          NaN        NaN              NaN            NaN
27        d1mm9tcy42          NaN        NaN              NaN            NaN
28        d1mm9tcy42          NaN        NaN              NaN            NaN
29        d1mm9tcy42          NaN        NaN              NaN            NaN
...              ...          ...        ...              ...            ...
10533224  87k0fy4ugm          NaN        NaN              NaN            NaN
10533225  9uqfg8txu3          NaN        NaN              NaN            NaN
10533226  9uqfg8txu3          NaN        NaN              NaN            NaN
10533227  9uqfg8txu3          NaN        NaN              NaN            NaN
10533228  9uqfg8txu3          NaN        NaN              NaN            NaN
10533229  9uqfg8txu3          NaN        NaN              NaN            NaN
10533230  9uqfg8txu3          NaN        NaN              NaN            NaN
10533231  9uqfg8txu3          NaN        NaN              NaN            NaN
10533232  9uqfg8txu3          NaN        NaN              NaN            NaN
10533233  9uqfg8txu3          NaN        NaN              NaN            NaN
10533234  9uqfg8txu3          NaN        NaN              NaN            NaN
10533235  9uqfg8txu3          NaN        NaN              NaN            NaN
10533236  9uqfg8txu3          NaN        NaN              NaN            NaN
10533237  9uqfg8txu3          NaN        NaN              NaN            NaN
10533238  9uqfg8txu3          NaN        NaN              NaN            NaN
10533239  9uqfg8txu3          NaN        NaN              NaN            NaN
10533240  9uqfg8txu3          NaN        NaN              NaN            NaN
10533241        None          NaN    39574.0              NaN            NaN
10533242        None          NaN  6283569.0              NaN            NaN
10533243        None          NaN   329852.0              NaN            NaN
10533244        None          NaN  1319190.0              NaN            NaN
10533245        None          NaN        NaN          85853.0            NaN
10533246        None          NaN        NaN         994093.0            NaN
10533247        None          NaN        NaN         991150.0            NaN
10533248        None          NaN        NaN        2369452.0       236259.0
10533249        None          NaN        NaN         370406.0            NaN
10533250        None          NaN        NaN              NaN       234868.0
10533251        None          NaN        NaN              NaN       124842.0
10533252        None          NaN        NaN              NaN            NaN
10533253        None          NaN        NaN              NaN         4268.0

[10533254 rows x 5 columns]

Verification:

In [31]:
q = '''
select user_id, device_type, sum(secs_elapsed)
from sessions
where user_id in ('0010k6l0om', '0035hobuyj', '00023iyk9l')
group by user_id, device_type;'''

In [32]:
pd.read_sql(q,cnx)

      user_id  device_type        sum
0  00023iyk9l       iPhone   572254.0
1  0010k6l0om  Mac Desktop   586543.0
2  00023iyk9l  Mac Desktop   295642.0
3  0035hobuyj  Mac Desktop  5724670.0

## Feature Engineering

In [53]:
sessions = pd.read_csv('sessions_cleaned.csv')

In [105]:
users = pd.read_csv('users_cleaned.csv')

In [106]:
users['date_account_created'] = pd.to_datetime(users['date_account_created'], infer_datetime_format = True)
users['timestamp_first_active'] = pd.to_datetime(users['timestamp_first_active'], format = '%Y-%m-%d %H:%M:%S')

In [107]:
users_dummied = pd.get_dummies(users[['gender','language','signup_method','signup_app','first_device_type','first_browser','affiliate_channel','affiliate_provider','first_affiliate_tracked']],drop_first = True)

Find the length of time between the account being created and the user being first active.

Positive -> user was active before they made their account

-1 -> First time the user was active was when they made their account

In [108]:
users_dummied['diff_account_to_first_active'] = (users['date_account_created']-users['timestamp_first_active']).dt.days

In [109]:

users_dummied['id'] = users['id']

Turn Target into binary classes (domestic v international)

In [110]:
country_destinations = pd.get_dummies(users['country_destination'])
y = country_destinations['US']

In [111]:
users_dummied

,gender_FEMALE,gender_MALE,gender_OTHER,language_cs,language_da,language_de,language_el,language_en,language_es,language_fi,...,affiliate_provider_yahoo,affiliate_provider_yandex,first_affiliate_tracked_local ops,first_affiliate_tracked_marketing,first_affiliate_tracked_omg,first_affiliate_tracked_product,first_affiliate_tracked_tracked-other,first_affiliate_tracked_untracked,diff_account_to_first_active,id
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,475,4ft3gnwmtx
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,764,bjjt8pjhuk
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,279,87mebub9p4
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,osr2jwljor
4,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,lsw9q7uk0j
5,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,0d01nltbrs
6,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,a1vcnhxeij
7,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,6uh8zyj2gn
8,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,yuuqmid2rp
9,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,k6np330cm1
10,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,v4d5rl22px
11,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,frhre329au
12,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,gdka1q5ktd
13,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,qdubonn3uk
14,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,qsibmuz9sx
15,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,80f7dwscrn
16,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,al8bcetz0g
17,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,hfrl5gle36
18,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,tp6x3md0n4
19,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,hql77nu2lk
20,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,cheova4spt
21,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,7my0vrljxc
22,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,k15j7mbny0
23,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,311,g3z67e37mb
24,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,g1q6caq452
25,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,f6mzhb4wbc
26,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,ngai8kt2yi
27,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,byozd991xf
28,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,rcx09dn2je
29,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,ae59m0iqsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,auafpy23gk
88879,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,g6sulrjk7c
88880,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,q7s9qir6xu
88881,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,d339w9196p
88882,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,5ljgd6ldv8
88883,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,0co6s86hgb
88884,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,67jxj3h7uf
88885,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,i1lzm2k3wr
88886,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,nhtc9mxlp7
88887,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,bzcqek3k51
88888,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,3yew808eqp
88889,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,gedoe2zmrj
88890,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,c999p94qui
88891,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,lc6apdi0hc
88892,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,x17avasiuk
88893,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,xif0n17eof
88894,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,jfcwjhkmtv
88895,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,e5ysdcsb2v
88896,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,5q5k8aov71
88897,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,x3m80xzv0h
88898,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,iu1abga5nx
88899,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,l8tltghomx
88900,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,git9gx54o9
88901,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,ezuin5g4lu
88902,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,a1rvlsdijt
88903,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,7plqriggxp
88904,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,-1,msucfwmlzc
88905,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,omlc9iku7t
88906,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,-1,0k26r3mir0
88907,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,-1,qbxza0xojf

In [112]:
total_sessions.columns = ['id', 'count']

In [113]:
users_dummied = pd.merge(users_dummied, total_sessions, on='id')
users_dummied['age'] = users['age']

In [114]:
users = users_dummied.join(y)

In [115]:
users.age.isnull().value_counts()

False    21408
True      7366
Name: age, dtype: int64

In [117]:
with open('users.pkl', 'wb') as picklefile: # wb: write, binary
    pickle.dump(users, picklefile) #dump data into pickle file

In [116]:
users

,gender_FEMALE,gender_MALE,gender_OTHER,language_cs,language_da,language_de,language_el,language_en,language_es,language_fi,...,first_affiliate_tracked_marketing,first_affiliate_tracked_omg,first_affiliate_tracked_product,first_affiliate_tracked_tracked-other,first_affiliate_tracked_untracked,diff_account_to_first_active,id,count,age,US
0,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,d1mm9tcy42,127,56.0,1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,4rvqpxoh3h,8,42.0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,xwxei6hdk4,7,41.0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,ro2stddszp,43,NaN,1
4,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,awiurksqr3,8,46.0,1
5,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,ucgks2fyez,283,47.0,1
6,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-1,jrqykh9y8x,1169,50.0,1
7,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,s9xrwtyzsq,73,46.0,1
8,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,11581i5wng,20,36.0,1
9,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,oa8oz6sj6s,146,NaN,0
10,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,nmptg2k3tj,18,33.0,0
11,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,9v9pjiw5s1,17,31.0,1
12,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,1g18fjgi2m,58,29.0,0
13,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,-1,psn48sflyc,1,NaN,1
14,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,msfo4las9k,12,30.0,1
15,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,iwx2u1gzyu,7,40.0,1
16,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,4n32dm2435,11,26.0,0
17,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,ixmk7qm5cv,20,32.0,1
18,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,mrvjvk6ycy,127,35.0,0
19,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,stiseqi6h6,40,37.0,1
20,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,d6r5a2l398,42,42.0,0
21,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,2pw9yjm8aq,18,31.0,1
22,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,uyb283j6j0,41,30.0,1
23,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,d9no5qj7ie,12,NaN,0
24,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,yetxlyyeja,21,44.0,1
25,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,cm0nbuxqmw,156,NaN,0
26,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,ne62ok6xaf,3,NaN,1
27,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,ccl1h3nes7,9,34.0,1
28,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,-1,8t8xs697my,19,NaN,1
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,-1,0e9rascg0c,16,33.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28744,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,auafpy23gk,129,NaN,0
28745,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,g6sulrjk7c,4,NaN,1
28746,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,q7s9qir6xu,25,32.0,1
28747,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,d339w9196p,6,31.0,1
28748,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,5ljgd6ldv8,143,NaN,0
28749,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,0co6s86hgb,35,NaN,1
28750,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,67jxj3h7uf,231,29.0,0
28751,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,i1lzm2k3wr,82,NaN,1
28752,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,nhtc9mxlp7,114,34.0,1
28753,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,bzcqek3k51,151,23.0,1
28754,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,3yew808eqp,177,33.0,1
28755,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,gedoe2zmrj,19,NaN,1
28756,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,c999p94qui,9,36.0,1
28757,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,lc6apdi0hc,189,NaN,0
28758,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,x17avasiuk,102,35.0,0
28759,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,xif0n17eof,160,NaN,0
28760,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,jfcwjhkmtv,51,NaN,1
28761,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,e5ysdcsb2v,35,105.0,0
28762,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,5q5k8aov71,169,30.0,0
28763,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,x3m80xzv0h,128,23.0,1
28764,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,iu1abga5nx,57,30.0,1
28765,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,l8tltghomx,106,58.0,1
28766,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,git9gx54o9,59,30.0,1
28767,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,ezuin5g4lu,52,NaN,1
28768,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,a1rvlsdijt,47,NaN,0
28769,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,7plqriggxp,36,34.0,0
28770,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,-1,msucfwmlzc,6,21.0,1
28771,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,omlc9iku7t,32,50.0,0
28772,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,-1,0k26r3mir0,133,47.0,1
28773,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,-1,qbxza0xojf,104,30.0,1